services:
  n8n:
    container_name: n8n
    build:
      context: .
      dockerfile: Dockerfile
    image: n8n-with-ffmpeg:stable
    restart: unless-stopped
    ports:
      - "5678:5678"
    env_file:
      - .env
    environment:
      - N8N_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=internal
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - N8N_RUNNERS_BROKER_PORT=5679
    volumes:
      - ./data:/home/node/.n8n
    depends_on:
      - redis
